html {
  font-size: 22px;
  justify-items: center;
}

body {
  background-color: whitesmoke;
  color: black;
}

a {
  color: blue;
}

a:visited {
  color: yellowgreen;
}

a:hover, a:active {
  color: crimson;
}

table, tr, th, td, caption {
  border: 1px solid black;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}